{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if request.user.is_authenticated %}
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "movies:index" %}">Moovie</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url "movies:create" %}">새 영화</a>
          <a class="nav-link" href="{% url "accounts:update" %}">회원정보수정</a>
          <a class="nav-link" href="{% url "change_password" request.user.pk %}">비밀번호 변경</a>
          <form action="{% url "accounts:delete" %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">회원탈퇴</button>
          </form>
        </div>
        <!-- 로그아웃 버튼을 오른쪽 끝으로 이동 -->
        <form class="ms-auto d-inline" action="{% url "accounts:logout" %}" method="POST" style="margin-left: 10px;">
          {% csrf_token %}
          <button class="nav-link" type="submit" style="color: white;">로그아웃</button>
        </form>
      </div>
    </div>
  </nav>
  
  
  
  
  <h1>영화 추천</h1>



  <hr>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      {% for movie in movies %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="d-flex flex-column align-items-center">  <!-- 중앙 정렬을 위한 flexbox 사용 -->
            {% if movie.image %}  <!-- 이미지가 존재하는 경우에만 표시 -->
              <a href="{% url 'movies:detail' movie.pk %}">  <!-- 이미지 클릭 시 detail 페이지로 이동 -->
                <img src="{{ movie.image.url }}" alt="{{ movie.title }}" style="width: 300px; height: auto;">  <!-- 이미지 크기 조정 -->
              </a>
            {% endif %}
            <h5 class="mt-2">{{ movie.title }}</h5>  <!-- 영화 제목 -->
            <p class="text-center" style="max-width: 300px;">{{ movie.storyline }}</p>  <!-- 줄거리 -->
          </div>
        </div>
      {% endfor %}
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

{% else %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "movies:index" %}">Moovie</a>    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url "accounts:login" %}">로그인</a>
        <a class="nav-link" href="{% url "accounts:signup" %}">회원가입</a>
    </div>
  </div>
</nav>

<h1>영화 추천</h1>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    {% for movie in movies %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="d-flex flex-column align-items-center">  <!-- 중앙 정렬을 위한 flexbox 사용 -->
          {% if movie.image %}  <!-- 이미지가 존재하는 경우에만 표시 -->
              <img src="{{ movie.image.url }}" alt="{{ movie.title }}" style="width: 300px; height: auto;">  <!-- 이미지 크기 조정 -->
          {% endif %}
          <h5 class="mt-2">{{ movie.title }}</h5>  <!-- 영화 제목 -->
          <p class="text-center" style="max-width: 300px;">{{ movie.storyline }}</p>  <!-- 줄거리 -->
        </div>
      </div>
    {% endfor %}
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endif %}
  
  
  
  
  
{% endblock content %}
